<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <style>
 #feed{
   width: 960px;
   position: relative;
   height: 100vh;
   background-color: #C6C6C6;
   padding: 0;
    position: fixed;
    z-index: 0;
    margin-left: 395px;
 }
 #chat{
  width:100%;
   position: relative;
   height: 100vh;
   background-color: #C6C6C6;
   padding: 0;
    position: fixed;
    z-index: 0;
    margin-left: 1350px;
 }
  </style>
</head>

<body >
<div class="row w-100">

  <navigation></navigation>
  <div id=feed class="col-auto">
    kkkk
  </div>
  <div id=chat class="col-auto">
    kkkk
  </div>
</div>
</body>

</html>
