<!DOCTYPE html>
<html lang="en">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>

  <style type="text/css">
    #one {
      background-color: #C6C6C6;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;


    }

    #two {
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;
      background-color: #DADADA;
    }

  </style>

</head>

<body class="">
  <div class="row w-100 ">
    <div class="col-auto p-0">
      <navigation class=""></navigation>
    </div>
    <div id=one class="col-6">
      <router-outlet name="one"></router-outlet>
     
    </div>

    <div id=two class="col">
      <router-outlet name="two"></router-outlet>
   
    </div>
  </div>
</body>

</html>
