/* You can add global styles to this file, and also import other style files */

body{
    padding: 0;
    margin: 0;
}
*{

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

*::-webkit-scrollbar {
    width: 5px;
    background-color:#DADADA;
    border-radius: 5px;
  
  }
   
   
  *::-webkit-scrollbar-thumb {
    background-color:rgb(117, 105, 105);
    border-radius: 5px;
  
  }